# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyc

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf
*.sdf
*.suo

Debug/
Release/
CMakeFiles/
*.vcxproj.user
*.ilk
*.pdb
project/win32/Python/_nes.tlog/unsuccessfulbuild
*.lastbuildstate

python/mario.nes
swig/nesPYTHON_wrap.cxx
nes.py
CMakeCache.txt
Makefile
cmake_install.cmake
