# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf
*.sdf
*.suo

/project/win32/NyraEmulationSystem/Debug
/project/win32/NyraEmulationSystem/Release
/project/win32/TestNESHeader/Debug
/project/win32/TestNESHeader/Release
project/win32/NyraEmulationSystem/NyraEmulationSystem.vcxproj.user
projects/win32/NyraEmulationSystem/NyraEmulationSystem.vcxproj.user
*.ilk
*.pdb
project/win32/TestNESHeader/TestNESHeader.vcxproj.user
