# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf
*.sdf
*.suo

Debug/
Release/
*.vcxproj.user
*.ilk
*.pdb
project/win32/Python/_nes.tlog/unsuccessfulbuild
*.lastbuildstate
